.darker {
	position: fixed;
	top:0; left:0;
	width:100%; height:100%;
	background: rgba(0,0,0,0.6);
	z-index:99999;
	display: none;
}
.closer {
	position: absolute;
	top:0; left:0;
	width:100%; height:100%;
	cursor: pointer;
	z-index: 100000;
}
.okno {
	position: relative;
	margin: 150px auto;
	background: rgb(255,255,255);
	padding: 24px;
	border: 3px solid #ff2e15;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:  10px;
	z-index: 100001;
	width: 270px;
	padding-bottom:5px;
	background: none repeat scroll 0 0 #F9F9F9;
	background-repeat: no-repeat;
	background-position: left top;	
}
.okno .inputs {
	width: 257px;
	padding: 8px 4px;
	font-size: 16px;
	border: 2px inset #aaa;
	color: #7E7D7D;
	margin-bottom: 12px;
	margin-left: 1px;
}
.okno h2 {
	font-size:25px;
	margin-left: 10px;
	width: 235px;
	margin-top: -13px;
	font-family: Arial;
	margin-bottom: 16px;
}
.closeka {
	float: right;
	font-size: 48px;
	cursor: pointer;
	margin: -27px -10px 0 0;
}
.but {
border-bottom: 1px solid #D7D9DC
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:  10px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	padding: 4px 6px 9px 8px;
	cursor:pointer;
	margin: 20px auto;
	text-transform: inherit;
	background-image: url(../images/bg_button_zakaz.png);
	background-repeat: repeat-x;
	width: 255px;
	height: 32px;
	margin-top:10px;
	background-position: 0px bottom;
	font-family:Arial, Arial, Tahoma;
		box-shadow: 0px 2px 8px #000;
			*font-size: 140%; /*для ie6,7*/
	font-size: 140%\0/ /*для ie8*/
}
.but2 {
border-bottom: 1px solid #D7D9DC
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius:  6px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	padding: 4px 6px 9px 8px;
	cursor:pointer;
	margin: -7px 83px 20px;
	text-transform: inherit;
	background-image: url(../img/butto.png);
	background-repeat: no-repeat;
	width: 188px;
	height: 23px;
	background-position: 0px bottom;
	font-family:Arial, Arial, Tahoma;
		box-shadow: 0px 2px 8px #000;
			*font-size: 140%; /*для ie6,7*/
	font-size: 140%\0/ /*для ie8*/
}
.but_t {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius:  0px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 9px 6px 5px 8px;
	cursor:pointer;
	text-shadow: #000 0 0 0px;
	margin-top:-3px;
	margin-right: 90px;
	float:right;
	text-transform: uppercase;
	background-image: url(../img/but3.png);
	background-repeat: no-repeat;
	width: 102px;
	height:26px;
	background-position: 0px bottom;
	font-family:Arial, Arial, Tahoma;
	 *width: 102px;/*для ie6,7*/
	width: 102px\0/ /*для ie8*/
}
.but:hover{
background: #e47240;
	cursor: pointer;
}
.but2:hover{
 border-bottom: 1px solid #D7D9DC
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius:  6px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	padding: 4px 6px 9px 8px;
	cursor:pointer;
	margin: -7px 83px 20px;
	text-transform: inherit;
	background-image: url(../img/butto1.png);
	background-repeat: no-repeat;
	width: 188px;
	height: 23px;
	background-position: 0px bottom;
	font-family:Arial, Arial, Tahoma;
		box-shadow: 0px 2px 8px #000;
			*font-size: 140%; /*для ie6,7*/
	font-size: 140%\0/ /*для ie8*/
}
.but_t:hover  {
		-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius:  0px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 9px 6px 5px 8px;
	cursor:pointer;
	text-shadow: #000 0 0 0px;
	margin-top:-3px;
	margin-right: 90px;
	float:right;
	text-transform: uppercase;
	background-image: url(../img/but4.png);
	background-repeat: no-repeat;
	width: 102px;
	height:26px;
	background-position: 0px bottom;
	font-family:Arial, Arial, Tahoma;
	 *width: 102px;/*для ie6,7*/
	width: 102px\0/ /*для ie8*/
}
.inputs {
    color: #898888;
	padding: 3px 4px;
	border: solid 1px #ccc;
	width: 252px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius:  6px;
	margin: -8px 0px 15px 24px;
	font-size: 24px;
	background-color: #CCCCCC;
	background-image: url(../images/ibg.png);
	background-position: 0px -14px;	
}
.cntSeparator {
        font-size: 54px;
        margin: 0px 7px;
        color: #000;
    }